/* index.css */

/* General responsive styles */
@media screen and (max-width: 768px) {
  /* Responsive Table Styles */
  .responsive-table {
    border: 0;
    width: 100%;
  }

  .responsive-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .responsive-table tr {
    border-bottom: 2px solid #e5e7eb;
    display: block;
    margin-bottom: 1em;
    background-color: #f9fafb;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  
  .responsive-table td {
    display: block;
    text-align: right;
    padding: 0.75rem 1rem;
    padding-left: 50%;
    position: relative;
    border-bottom: 1px dotted #e5e7eb;
    font-size: 0.9rem;
  }
  
  .responsive-table td:before {
    content: attr(data-label);
    position: absolute;
    left: 1rem;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: 600;
    color: #4b5563;
  }

  .responsive-table td:last-child {
      border-bottom: 0;
  }

  .responsive-table td:first-child,
  .responsive-table td[data-label="Ações"] {
      padding-left: 1rem;
      text-align: left;
  }
  .responsive-table td:first-child:before {
      display: none;
  }

  .responsive-table td[data-label="Ações"] .flex {
      justify-content: flex-end;
  }
}
